* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

.product-list {
    padding: 20px;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-list li {
    padding: 10px;
    background: #ddd;
    margin-right: 10px;
    margin-bottom: 20px;
    border-radius: 6px;
    width: calc(33.3333333333% - 10px);
}

.product-list li h2 {
    text-transform: capitalize;
}

.product-list li span {
    display: block;
    margin-top: 10px
}

.product-list li a {
    padding: 7px;
    background: orangered;
    color: #fff;
    width: 120px;
    text-align: center;
    display: block;
    margin: 10px auto;
    border-radius: 6px;
    text-decoration: none
}

.pagination {
    width: 100%;
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pagination button {
    border-radius: 5px;
    background: orangered;
    border: 0;
    padding: 10px;
    color: #fff;
    cursor: pointer;
    font-weight: bolder
}

.pagination button[disabled] {
    background: #ddd;
    color: #333;
    cursor: not-allowed;
}